* {
  font-family: 'Oxanium', cursive;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.matchmaking {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
}

.matchmaking > button {
  width: 300px;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: top;
}

.centered > p {
  margin-top: 0px;
}

#turn {
  font-weight: bold;
}

#m {
  width: 30vw;
}

#game_board {
  display: grid;
  grid-template-columns: 55px 55px 55px 55px 55px 55px 55px;
  justify-content: center;
}

#col {
  display: flex;
  flex-direction: row;
}

.square {
  width: 55px;
  height: 55px;
  margin: 0px;
  outline: 1px solid;
  float: left;
  border: 2px solid black;
}

.circle {
  border-radius: 50%;
  border: 2px solid black;
  height: 45px;
  width: 45px;
  margin-left: 2px;
  margin-top: 3px;
}